html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: Arial, Verdana, sans-serif;
}

.body-wraper {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    box-shadow: 0px 4px 21px -1px rgba(34, 60, 80, 0.13);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    font-family: 'Perpetua';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    
    color: #232443;
}
.logo span {
   color: rgba(238, 79, 60, 1);
}

.logo__img {
    width: 200px;
}

.header__burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 2;
    cursor: pointer;
}

.header__burger-btn span {
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    left: 5px;
    background-color: black;
    transition: background-color .3s, opacity .3s, transform .5s;
    will-change: transform;
}

.header__burger-btn:hover span {
    background-color: rgb(103, 103, 103);
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}


.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}


/* Крестик */

.header.open .header__burger-btn span {
    background-color: white;
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.menu__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu__item:last-child {
    margin: 0 0 0 120px;
}
.menu__item {
    padding-right:  40px;
}
.menu__link {
    font-family: 'Axiforma';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 28px;
text-align: center;
letter-spacing: 0.02em;

color: #353540;
transition: all 0.3s ease;

}
.menu__link:hover {
    
    color: #f38c60;
}

.header-btn {
    color: #fff;
    border-radius: 10px;
    padding: 18px 30px;
    background-color: rgba(238, 79, 60, 1)
}

.header__start {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
}
.start__title {
    font-family: 'Georgia';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 95px;
letter-spacing: 0.02em;
color: #353540;
}
.start__text {
    padding: 30px 0;
    font-family: 'Axiforma';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 34px;

letter-spacing: 0.02em;

color: #5D5D61;
}

.start__image {
    height: auto;
    width: 80%;
}
.start__location {
    display: flex;
}
.header__location {
    padding: 0 20px;
}
.start__location img{
    position: relative;
    padding-top: 16px;
    padding-left: 10px;
    height: 30px;
    width: auto;
}
.start__location  {
    display: flex;
    flex-direction: row;
}
.start__location  input{
    padding: 17px 0px;
    
}

button {
   background-color: #fff;
   border: none;
}
.search {
    background-color: #f38c60;
    color: #fff;
    padding: 12px 30px;
    border-radius: 6px;
}
input {
    border: none;
    outline: none;
}
input:focus {
    
    border-bottom: 1px solid rgb(255, 153, 0);
}
.popular__text {
    padding: 60px 0 30px 0;
    font-family: 'Georgia';
font-style: normal;
font-weight: 700;
font-size: 48px;


letter-spacing: 0.05em;

color: rgb(0, 0, 0);
}

.cards {
    justify-content: center;
display: grid;
grid-row-gap:20px ;
grid-column-gap: 20px;
grid-template-columns: 1fr 1fr 1fr;

}
.card {
    background: rgba(238, 79, 60, 0.8);
    padding: 16px 0 0 16px;
   width: 350px;
    height: 250px;
border-radius: 20px;
}
.card:nth-child(2) {
    background: rgba(8, 227, 227, 0.7);

}
.card:nth-child(3) {
    background: rgba(217, 0, 255, 0.7);
}
.card__logo {
    display: flex;
    align-items: center;
}
.card__title {
    font-family: 'Axiforma';
font-style: normal;
font-weight: 600;
font-size: 20px;
margin: 0 100px 0 20px;

color: #FFFFFF;
}
.card__text {
    padding: 20px 0 16px 0;
    font-family: 'Georgia';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 27px;
letter-spacing: 0.02em;

color: #FFFFFF;
}
.card_mini {
    margin-bottom: 24px;
    font-family: 'Axiforma';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 25px;
letter-spacing: 0.02em;

color: #F8F8F8;
}
.card__value {
    display: flex;
    justify-content: space-around;
}
.card__value span {
    font-family: 'Axiforma';
font-style: normal;
font-weight: 700;
font-size: 18px;


color: #FFFFFF;

}
.card__btn{
    
    font-family: 'Axiforma';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 22px;
padding: 4px 16px;
background: rgba(255, 255, 255, 0.1);
border-radius: 5px;
transition: all 0.3s ease;

color: #FFFFFF;
}
.card__btn:hover{
    

background: rgba(255, 255, 255, 0.3);


color: #dcdcdc;
}

.popular__text-view {
    font-family: 'Axiforma';

font-weight: 600;
font-size: 24px;
line-height: 39px;
text-align: center;
margin-top: 30px;


color: #FFFFFF;
}
.popular__text-view img {
    margin-bottom: -7px;
}

.job__title {
    font-family: 'Georgia';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 55px;


color: #353540;
}
.job__text {
    margin: 10px 0;
    font-family: 'Axiforma';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 34px;
padding-bottom: 20px;


color: #5D5D61;
}

.job__info{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.job__btn a{
    border-radius: 10px;
    padding: 16px 20px;
    background-color: #f38c60;

font-style: normal;
font-weight: 700;
font-size: 18px;

color: #FFFFFF;
}
.job__img img {
    width: auto;
    height: 600px;
}

.slider__items {
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
}
.slider__items img {
    width: auto;
    height: 280px;
}
.subscribe__item {
    position: relative;
    text-align: center;
}
.subscribe__item img {

    width: auto;
    height: 400px;
}
.subscribe {
    margin: 20px 0;
}
.subscribe__input {
    position: absolute;
    top: 50%;
    left: 33%;
}
.subscribe__input a {
    border-radius: 10px;
    padding: 10px 14px;
    background-color: #000101;
    color: #fff;
    font-family: 'Axiforma';
font-style: normal;
font-weight: 600;
font-size: 18px;

letter-spacing: 0.05em;
}
.input__text {
    border-radius: 10px;
    padding: 10px 20px 10px 10px;
    transition: all 0.4s ease;
}